.songs-section-wrapper {
    padding: 20px 40px;
}

.section-header {
    display: flex;
    justify-content: space-between; /* Keeps title on the left */
    align-items: center;
    margin-bottom: 20px;
}

.section-header h3 {
    color: var(--color-white);
    font-weight: 600;
}

/* Customizing Material UI Tabs */
.MuiTab-root {
    color: #FFFFFF !important;
}

.Mui-selected {
    color: #34C94B !important; /* Green color from Figma */
}

.MuiTabs-indicator {
    background-color: #34C94B !important;
}